### Pandas is useful for modeling financial time series

#### Pandas is designed for working with tabular or heterogeneous data

#### Dataframe : SQL database table or a worksheet in a spreadsheet application
#### Series : selecting a colums from Dataframe

In [3]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [4]:
#1D array => sequence of values + associated array of data labels, called its index
obj = pd.Series([4, 7, -5, 3])
print(obj)
print('Printing values Without index')
print(obj.values)
print('Printing index')
print(obj.index)
obj.index

0    4
1    7
2   -5
3    3
dtype: int64
Printing values Without index
[ 4  7 -5  3]
Printing index
Int64Index([0, 1, 2, 3], dtype='int64')

Int64Index([0, 1, 2, 3], dtype='int64')

In [5]:
#index with label for each datapoint
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print(obj2)
print('Printing values Without index')
print(obj2.values)
print('Printing index')
print(obj2.index)
obj2.index

d    4
b    7
a   -5
c    3
dtype: int64
Printing values Without index
[ 4  7 -5  3]
Printing index
Index([u'd', u'b', u'a', u'c'], dtype='object')

Index([u'd', u'b', u'a', u'c'], dtype='object')

In [6]:
print 'Obj with index c',obj2['c']
print(obj2[['c', 'a', 'd']])

Obj with index c 3
c    3
a   -5
d    4
dtype: int64

In [7]:
#Using NumPy functions or NumPy-like operations will preserve the index
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [8]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [9]:
#Applying Lambda
obj2.apply(lambda x: x ** 2)

d    16
b    49
a    25
c     9
dtype: int64

In [ ]:
print obj2
print obj2.sum()
print obj2.mean()
print obj2.cumsum()

In [10]:
#Using numpy with pandas
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [11]:
#Another way to think about a Series is as a fixed-length, ordered dict, as it is a mapping of index values to data values. 
'b' in obj2

True

In [12]:
#Creating a series for python dict
dataDict = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(dataDict)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [13]:
#Overiding default index(keys in sorted order)
states = ['California', 'Ohio', 'Oregon', 'Texas'] #NAN if no value is found like for California 
obj4 = pd.Series(dataDict, index=states)
obj4

California      NaN
Ohio          35000
Oregon        16000
Texas         71000
dtype: float64

In [14]:
#Idntify missing data
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [15]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [16]:
#Seriesâ€™s index can be altered in-place by assignment
print(obj)
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
print("After index change")
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64
After index change
Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [17]:
#Creating DataFrame from dict of equal-length (lists or NumPy arrays)
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002
5  3.2  Nevada  2003