In [46]:
#pandas dataframe
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import os
import matplotlib

HOUSING_PATH = os.path.join("datasets", "housing")
csv_path = os.path.join(HOUSING_PATH, "housing.csv")
df = pd.read_csv(csv_path)
print(type(df))   #NOTE : type is handy util of python to check datatype
df.head()

<class 'pandas.core.frame.DataFrame'>

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [2]:
print(df.shape,"\n","-----------------")
print(df.columns,"\n","-----------------")
print(df.dtypes,"\n","-----------------")
print(df.info(),"\n","-----------------")

(20640, 10)
 -----------------
Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')
 -----------------
longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object
 -----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None
 -----------------

In [3]:
#Inspecting columns, row & cells
#Subsetting Columns by Name
occean_proxim_df = df['ocean_proximity']
print(occean_proxim_df.head())
print(occean_proxim_df.tail())

0    NEAR BAY
1    NEAR BAY
2    NEAR BAY
3    NEAR BAY
4    NEAR BAY
Name: ocean_proximity, dtype: object
20635    INLAND
20636    INLAND
20637    INLAND
20638    INLAND
20639    INLAND
Name: ocean_proximity, dtype: object

In [4]:
#multiple columns
subset = df[['latitude', 'longitude', 'ocean_proximity']]
print(subset.head())
print(subset.tail())

   latitude  longitude ocean_proximity
0     37.88    -122.23        NEAR BAY
1     37.86    -122.22        NEAR BAY
2     37.85    -122.24        NEAR BAY
3     37.85    -122.25        NEAR BAY
4     37.85    -122.25        NEAR BAY
       latitude  longitude ocean_proximity
20635     39.48    -121.09          INLAND
20636     39.49    -121.21          INLAND
20637     39.43    -121.22          INLAND
20638     39.43    -121.32          INLAND
20639     39.37    -121.24          INLAND

In [5]:
#Subsetting Columns by Index Position
# get the first row
print(df.loc[0])

longitude              -122.23
latitude                 37.88
housing_median_age          41
total_rooms                880
total_bedrooms             129
population                 322
households                 126
median_income           8.3252
median_house_value      452600
ocean_proximity       NEAR BAY
Name: 0, dtype: object

In [6]:
# get the last row (correctly)
number_of_rows = df.shape[0]

# subtract 1 from the value since we want the last index value
last_row_index = number_of_rows - 1

# finally do the subset using the index of the last row
print(df.loc[last_row_index])
print("last row using tail")
df.tail(n=1)

longitude            -121.24
latitude               39.37
housing_median_age        16
total_rooms             2785
total_bedrooms           616
population              1387
households               530
median_income         2.3886
median_house_value     89400
ocean_proximity       INLAND
Name: 20639, dtype: object
last row using tail

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [7]:
#NOTE : above printed output of loc & tail is diff due to difference in datatype
subset_loc = df.loc[0]
subset_head = df.head(n=1)

# type using loc of 1 row
print(type(subset_loc))

# type of using head of 1 row
print(type(subset_head))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [8]:
#Get multiple columns
print(df.loc[[0, 99, 999]])

     longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0      -122.23     37.88                41.0        880.0           129.0
99     -122.26     37.82                37.0       3633.0          1085.0
999    -121.82     37.69                12.0       1906.0           351.0

     population  households  median_income  median_house_value ocean_proximity
0         322.0       126.0         8.3252            452600.0        NEAR BAY
99       1838.0       980.0         2.6104            193100.0        NEAR BAY
999       802.0       319.0         4.9375            227700.0          INLAND

In [9]:
#Subset Rows by Row Number - iloc
#dfCopy = pd.read_csv(csv_path)
#dfCopy.index = [i*10 for i in range(dfCopy.shape[0])]
#last_row_index_dfcopy = (dfCopy.shape[0]-2)*10
#print(last_row_index_dfcopy)
#print(dfCopy.iloc[300])
#dfCopy.tail(n=1)

In [11]:
#df.loc [[row], [column]] or df. iloc [[row], [column]]
subset = df.loc[:, ['longitude', 'ocean_proximity']] # NOTE : colon is used to select all rows# subset columns with iloc
subset.head()

   longitude ocean_proximity
0    -122.23        NEAR BAY
1    -122.22        NEAR BAY
2    -122.24        NEAR BAY
3    -122.25        NEAR BAY
4    -122.25        NEAR BAY

In [13]:
# iloc will alow us to use integers
# -1 will select the last column
subset = df.iloc[:, [2, 4, -1]]
subset.head()

   housing_median_age  total_bedrooms ocean_proximity
0                41.0           129.0        NEAR BAY
1                21.0          1106.0        NEAR BAY
2                52.0           190.0        NEAR BAY
3                52.0           235.0        NEAR BAY
4                52.0           280.0        NEAR BAY

In [15]:
# subset the dataframe with the range
subset = df.iloc[:, list(range(5))]
subset.head()

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

In [16]:
# slice the first 3 columns
subset = df.iloc[:, :3]
print(subset.head())

   longitude  latitude  housing_median_age
0    -122.23     37.88                41.0
1    -122.22     37.86                21.0
2    -122.24     37.85                52.0
3    -122.25     37.85                52.0
4    -122.25     37.85                52.0

In [17]:
# slice columns 3 to 5 inclusive
subset = df.iloc[:, 3:6]
print(subset.head())

   total_rooms  total_bedrooms  population
0        880.0           129.0       322.0
1       7099.0          1106.0      2401.0
2       1467.0           190.0       496.0
3       1274.0           235.0       558.0
4       1627.0           280.0       565.0

In [20]:
#Subsetting Rows and Columns
print(df.iloc[42, 0])
#print(df.loc[42, 0]) #NOTE : Type error
print(df.loc[42, 'longitude'])

-122.26
-122.26

In [21]:
#Subsetting Multiple Rows and Columns
print(df.iloc[[0, 99, 999], [0, 3, 5]])

     longitude  total_rooms  population
0      -122.23        880.0       322.0
99     -122.26       3633.0      1838.0
999    -121.82       1906.0       802.0

In [22]:
print(df.loc[[0, 99, 999], ['total_rooms', 'population', 'longitude']]) #More redable

     total_rooms  population  longitude
0          880.0       322.0    -122.23
99        3633.0      1838.0    -122.26
999       1906.0       802.0    -121.82

In [24]:
print(df.loc[0:2, ['total_rooms', 'population', 'longitude']]) #Slicing

   total_rooms  population  longitude
0        880.0       322.0    -122.23
1       7099.0      2401.0    -122.22
2       1467.0       496.0    -122.24

In [27]:
#GROUPED AND AGGREGATED CALCULATIONS
print(df.groupby('ocean_proximity')['median_income'].mean())

ocean_proximity
<1H OCEAN     4.230682
INLAND        3.208996
ISLAND        2.744420
NEAR BAY      4.172885
NEAR OCEAN    4.005785
Name: median_income, dtype: float64

In [29]:
#How the above works : first create a grouped object : grouped dataframe : from which subset colums
grouped_df = df.groupby('ocean_proximity')
print(type(grouped_df))
print(grouped_df) #pandas only returns us the memory location
grouped_df_income = grouped_year_df['median_income']
print(type(grouped_df_income)) # returns a series as we retreived only single column

<class 'pandas.core.groupby.DataFrameGroupBy'>
<pandas.core.groupby.DataFrameGroupBy object at 0x0000027A867D1748>
<class 'pandas.core.groupby.SeriesGroupBy'>

In [41]:
#group by multiple colums
multi_group_var = df.groupby(['ocean_proximity', 'latitude'])[['median_income','latitude']].mean()
print(multi_group_var)

                          median_income  latitude
ocean_proximity latitude
<1H OCEAN       32.61          3.522700     32.61
                32.67          6.257800     32.67
                32.71          2.955900     32.71
                32.72          4.622414     32.72
                32.73          4.925680     32.73
                32.74          3.739140     32.74
                32.75          4.569722     32.75
                32.76          4.579250     32.76
                32.77          4.270207     32.77
                32.78          4.084660     32.78
                32.79          4.282383     32.79
                32.80          3.917570     32.80
                32.81          4.164991     32.81
                32.82          4.335281     32.82
                32.83          4.157388     32.83
                32.84          4.038780     32.84
                32.85          4.180715     32.85
                32.86          3.801344     32.86
                32.87          4.602883     32.87
                32.88          4.395200     32.88
                32.89          4.807000     32.89
                32.90          4.929964     32.90
                32.91          5.666893     32.91
                32.92          4.433846     32.92
                32.93          4.952757     32.93
                32.94          4.937500     32.94
                32.95          4.760750     32.95
                32.96          5.201300     32.96
                32.97          4.988800     32.97
                32.98          4.924300     32.98
...                                 ...       ...
NEAR OCEAN      40.80          1.708689     40.80
                40.81          2.660225     40.81
                40.85          3.515600     40.85
                40.86          1.837167     40.86
                40.87          1.321925     40.87
                40.88          2.090150     40.88
                40.90          2.732100     40.90
                40.91          1.666700     40.91
                40.92          2.818200     40.92
                40.93          3.135750     40.93
                40.94          3.673800     40.94
                40.95          2.647300     40.95
                40.99          2.684700     40.99
                41.02          2.172600     41.02
                41.04          1.974100     41.04
                41.06          3.020800     41.06
                41.13          2.470800     41.13
                41.36          2.015600     41.36
                41.54          2.020200     41.54
                41.73          1.703800     41.73
                41.74          2.182900     41.74
                41.75          2.243950     41.75
                41.76          2.460500     41.76
                41.77          2.579500     41.77
                41.78          1.665400     41.78
                41.80          2.867700     41.80
                41.81          2.286800     41.81
                41.84          3.031300     41.84
                41.92          2.133600     41.92
                41.95          2.275000     41.95

[1738 rows x 2 columns]

In [42]:
# use the nunique (number unique)
# to calculate the number of unique values in a series(frequecny counts)
print(df.groupby('ocean_proximity')['latitude'].nunique())

ocean_proximity
<1H OCEAN     492
INLAND        773
ISLAND          4
NEAR BAY       97
NEAR OCEAN    372
Name: latitude, dtype: int64

In [49]:
#Plotting
multi_group_var_plot = df.groupby(['latitude'])['median_income'].mean()
print(multi_group_var_plot.head())
multi_group_var_plot.plot()

latitude
32.54    1.266700
32.55    2.343833
32.56    2.764300
32.57    3.368961
32.58    3.385735
Name: median_income, dtype: float64