#### Basic Datatypes

In [2]:
#Floats
print 1./4
print type(1./4)

0.25
<type 'float'>

In [3]:
import decimal as decimal
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999999, Emax=999999999, capitals=1, flags=[], traps=[Overflow, DivisionByZero, InvalidOperation])

In [7]:
d = decimal.Decimal(1) / decimal.Decimal (11)
print d
decimal.getcontext().prec = 4 
e = decimal.Decimal(1) / decimal.Decimal (11)
print e

0.09090909090909090909090909091
0.09091

#### Regular Expressions

In [8]:
import re
series = """
         '01/18/2014 13:00:00', 100, '1st';
         '01/18/2014 13:30:00', 110, '2nd';
         '01/18/2014 14:00:00', 120, '3rd'
         """
dt = re.compile("'[0-9/:\s]+'")
result = dt.findall(series)
result

["'01/18/2014 13:00:00'", "'01/18/2014 13:30:00'", "'01/18/2014 14:00:00'"]

In [12]:
from datetime import datetime
pydt = datetime.strptime(result[0].replace("'", ""),'%m/%d/%Y %H:%M:%S')
print pydt
print type(pydt)
pydt

2014-01-18 13:00:00
<type 'datetime.datetime'>

datetime.datetime(2014, 1, 18, 13, 0)

#### Functions

In [20]:
print map(lambda x: x ** 3, range(10))
print filter(lambda x:x%2 == 0, range(15))
print reduce(lambda x, y: x - y, range(10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 2, 4, 6, 8, 10, 12, 14]
-45

In [23]:
fruit = set(['apple','orange','lemon','tomato'])
veg = set(['raddish','brinjal','lemon','tomato'])
print fruit.union(veg)
print fruit.intersection(veg)
print fruit.difference(veg)
print fruit.symmetric_difference(veg)  # in either one but not both

set(['tomato', 'lemon', 'apple', 'brinjal', 'orange', 'raddish'])
set(['tomato', 'lemon'])
set(['orange', 'apple'])
set(['apple', 'brinjal', 'orange', 'raddish'])

In [ ]:
#Basics
my_list = ["a","b","c","d"]
print [elt for elt in my_list]
print [elt + elt for elt in my_list]
print [elt * elt for elt in range(10)] # print squares
print [elt * elt for elt in range(10) if elt *  elt > 30] # print squares with condition