In [ ]:
#CREATING YOUR OWN DATA

In [1]:
import pandas as pd

s = pd.Series(['banana', 42]) #similar to list , represents 1 col of dataframe , shld be of same type
print(s)
s.dtype #if mixed types are used, common of both is used

0    banana
1        42

dtype('object')

In [2]:
# manually assign index values to a series
# by passing a Python list
s = pd.Series(['Wes McKinney', 'Creator of Pandas'],
              index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas

In [3]:
#Creating DataFrame : using dicts , key => col name , values => rows
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]})
print(scientists) # Order is not guaranteed because python dictionaries are not ordered

   Age        Born        Died               Name    Occupation
0   37  1920-07-25  1958-04-16  Rosaline Franklin       Chemist
1   61  1876-06-13  1937-10-16     William Gosset  Statistician

In [4]:
#specifying index
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'],
          'Born': ['1920-07-25', '1876-06-13'],
          'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [5]:
#Use OrderedDict to maintain order
from collections import OrderedDict

# note the round brackets after OrderedDict
# then we pass a list of 2-tuples
scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37, 61])
    ])
)
print(scientists)

   Age        Born        Died               Name    Occupation
0   37  1920-07-25  1958-04-16  Rosaline Franklin       Chemist
1   61  1876-06-13  1937-10-16     William Gosset  Statistician

In [11]:
# Using Series
# create our example dataframe
# with a row index label
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'],
          'Born': ['1920-07-25', '1876-06-13'],
          'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])
scientists

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [7]:
# select by row index label 
#first_row = scientists.loc['William Gosset']
first_row = scientists.ix['William Gosset']
print(type(first_row))
print(first_row) #Col is printed as index
print(first_row.index)
print(first_row.values)
print(first_row.keys()) #same as index

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset
array([Occupation, Born, Died, Age], dtype=object)
[Statistician 1876-06-13 1937-10-16 61]
array([Occupation, Born, Died, Age], dtype=object)

In [20]:
# get the first index using an attribute
print(first_row.index[0])
print(first_row.keys()[0])

Occupation
Occupation

In [22]:
#Calculations on series
ages = scientists['Age']
print(ages)
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

Rosaline Franklin    37
William Gosset       61
Name: Age
49.0
37
61
16.9705627485

In [9]:
#MAKING CHANGES TO SERIES AND DATAFRAMES
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)
#Convert to date time
born_datetime = pd.to_datetime(scientists['Born']) #,format='%Y-%m-%d'
print(born_datetime)
died_datetime = pd.to_datetime(scientists['Died'])
print(died_datetime)

object
object
Rosaline Franklin   1920-07-25 00:00:00
William Gosset      1876-06-13 00:00:00
Name: Born
Rosaline Franklin   1958-04-16 00:00:00
William Gosset      1937-10-16 00:00:00
Name: Died

In [10]:
scientists['Born'], scientists['Died'] = (born_datetime,died_datetime)
scientists

                     Occupation                Born                Died  Age
Rosaline Franklin       Chemist 1920-07-25 00:00:00 1958-04-16 00:00:00   37
William Gosset     Statistician 1876-06-13 00:00:00 1937-10-16 00:00:00   61