In [8]:
import pandas as pd
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset','Albert Einstein','Newton'],
    'Occupation': ['Chemist', 'Statistician','Mathematician','Mathematician'],
    'Born': ['1920-07-25', '1876-06-13','1876-06-13','1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16','1947-10-16','1927-10-16'],
    'Age': [37, 61,71,41]})
print(scientists)
print('--------------')
print(scientists[scientists['Age'] > scientists['Age'].mean()])

   Age        Born        Died               Name     Occupation
0   37  1920-07-25  1958-04-16  Rosaline Franklin        Chemist
1   61  1876-06-13  1937-10-16     William Gosset   Statistician
2   71  1876-06-13  1947-10-16    Albert Einstein  Mathematician
3   41  1876-06-13  1927-10-16             Newton  Mathematician
--------------
   Age        Born        Died             Name     Occupation
1   61  1876-06-13  1937-10-16   William Gosset   Statistician
2   71  1876-06-13  1947-10-16  Albert Einstein  Mathematician

In [9]:
# 4 values passed as a bool vector
# 3 rows returned
print(scientists.loc[[True, False]])

   Age        Born        Died               Name Occupation
0   37  1920-07-25  1958-04-16  Rosaline Franklin    Chemist

In [11]:
first_half = scientists[:2]
second_half = scientists[2:]

print(first_half)
print(second_half)

   Age        Born        Died               Name    Occupation
0   37  1920-07-25  1958-04-16  Rosaline Franklin       Chemist
1   61  1876-06-13  1937-10-16     William Gosset  Statistician
   Age        Born        Died             Name     Occupation
2   71  1876-06-13  1947-10-16  Albert Einstein  Mathematician
3   41  1876-06-13  1927-10-16           Newton  Mathematician

In [12]:
# multiply by a scalar , applies to all cells
print(scientists * 2)

   Age                  Born                  Died  \
0   74  1920-07-251920-07-25  1958-04-161958-04-16
1  122  1876-06-131876-06-13  1937-10-161937-10-16
2  142  1876-06-131876-06-13  1947-10-161947-10-16
3   82  1876-06-131876-06-13  1927-10-161927-10-16

                                 Name                  Occupation
0  Rosaline FranklinRosaline Franklin              ChemistChemist
1        William GossetWilliam Gosset    StatisticianStatistician
2      Albert EinsteinAlbert Einstein  MathematicianMathematician
3                        NewtonNewton  MathematicianMathematician